@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --color1: #eee;
    --color2: #070F2B;
    --color3: #fff;
    --color4: #000;
    --color5: #0a2e5c;

    --font1: 'Poppins';
    --font2: 'Rubik';
    --font3: 'Ubuntu';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* border: 1px solid red; */
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--font1);
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--color2);
    background: var(--color1);
    padding-top: 10rem;
}

img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

h2{
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

p{
    font-size: 1.5rem;
}

a{
    color: var(--color2);
}

span{
    color: skyblue;
}

section{
    width: 100%;
    padding: 4rem;
}

/* MEDIA */
@media (max-width: 800px){
    h2{
        font-size: 3.5rem;
    }
}